<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">
			<Identity Name="f7f1ad7a-b2fe-48a8-8edc-c258e118f4f3" Publisher="CN=Luiz-1234" Version="1.0.0.5" />
	    <mp:PhoneIdentity PhoneProductId="f7f1ad7a-b2fe-48a8-8edc-c258e118f4f3" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
    <Properties>
        <DisplayName>AppStudio App</DisplayName>
        <PublisherDisplayName>AppStudio</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>
    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    </Dependencies>
    <Resources>
        <Resource Language="x-generate"/>
    </Resources>
    <Applications>
        <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BatalhaoWin.App">
            <uap:VisualElements 
			  DisplayName="Batalhão Win"
              Square150x150Logo="Assets\Square150x150Logo.png"
              Square44x44Logo="Assets\Square44x44Logo.png"
              Description="Aplicativo Batalhão Windows. Fique por dentro de todo nosso canal e de novidades a cerca do Universo Windows."
              BackgroundColor="#140636">
                <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#140636"/>
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo" />
                        <uap:ShowOn Tile="wide310x150Logo"/>
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
                <uap:InitialRotationPreference>
                    <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
            </uap:VisualElements>
        </Application>
    </Applications>
    <Capabilities>
        <Capability Name="internetClient" />
    </Capabilities>
			<Extensions>
						<Extension Category="windows.certificates">
									<Certificates>
												<TrustFlags ExclusiveTrust="true"/>
												<SelectionCriteria HardwareOnly="true" AutoSelect="true"/>
									</Certificates>
						</Extension>
			</Extensions>
</Package>
